:root {
    --heading-font-family: proxima-nova, sans-serif;
}
body {
    max-width: 800px;
    margin: auto;
    padding: 10px;
    font-family: yorkten-slab-normal, sans-serif;
    font-style: normal;
    font-weight: 100;
}

h1 {
    font-family: var(--heading-font-family);
    margin: 0;
}

.heading-large {
    font-weight: 200;
    font-size: 1.8rem;
    margin-top: 20px;
    margin-bottom: 5px;
}
